.u_module {
    margin-bottom: 1rem;
}

    .u_module img {
        width: 100%;
        display: block;
    }

    .u_module .row {
        overflow: hidden;
    }

/***** 輪播圖 BEGIN *****/
.u_module-Carousel {
}

    .u_module-Carousel .carousel .carousel-control-prev,
    .u_module-Carousel .carousel .carousel-control-next {
        display: none;
    }

    .u_module-Carousel .carousel:hover .carousel-control-prev,
    .u_module-Carousel .carousel:hover .carousel-control-next {
        display: block;
    }

@media(max-width: 992px) {
    .u_module-Carousel .container {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}
/***** 輪播圖 END *****/

/***** 圖文並列 BEGIN *****/
.u_module-PicWithTxt {
}

.u_module-PicWithTxt_pic {
    overflow: hidden;
}


.u_module-PicWithTxt_pic_img {
    height: 100%;
}

.u_module-PicWithTxt_txt {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.u_module-PicWithTxt_txt_desc {
    flex: 1;
    overflow: hidden;
}


@media(max-width: 992px) {
    .u_module-PicWithTxt_txt--source {
        display: none;
    }

    .u_module-PicWithTxt_txt--clone {
        display: block;
    }

    .u_module-PicWithTxt-B1 .u_module-PicWithTxt_pic {
        padding: 1rem 1rem 0 1rem;
    }

    .u_module-PicWithTxt-B2 .u_module-PicWithTxt_pic {
        padding: 1rem 1rem 0 1rem;
    }
}

@media(min-width: 992px) {
    .u_module-PicWithTxt_pic,
    .u_module-PicWithTxt_txt {
        height: 234px;
    }

    .u_module-PicWithTxt_txt--source {
        display: block;
    }

    .u_module-PicWithTxt_txt--clone {
        display: none;
    }

    .u_module-PicWithTxt-B1 .u_module-PicWithTxt_pic {
        padding: 1rem 0 1rem 1rem;
    }

    .u_module-PicWithTxt-B2 .u_module-PicWithTxt_pic {
        padding: 1rem 1rem 1rem 0;
    }
}

@media (min-width:1200px) {
    .u_module-PicWithTxt_pic,
    .u_module-PicWithTxt_txt {
        height: 279px;
    }
}

@media (min-width:1400px) {
    .u_module-PicWithTxt_pic,
    .u_module-PicWithTxt_txt {
        height: 324px;
    }
}
/***** 圖文並列 END *****/
