@page
@model You.RazorCMS.Pages.IframeModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <title>自定頁面編輯</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap_ext.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/page_editor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/module.css" asp-append-version="true" />
    <script src="~/lib/tinymce/tinymce.min.js"></script>
</head>
<body>
    <iframe src="/NewPage" style="width:1000px; height: 800px; border:10px solid #ddd;"></iframe>
</body>
</html>
