@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h2>
        <a asp-area="Admin" asp-page="/Login">Admin Portal</a>
    </h2>

    <h1 class="display-4">Welcome To Razor CMS</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
