@page
@model You.RazorCMS.Pages.ModulesModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">網站首頁</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">我的收藏</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">我的訂單</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">我要下單</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="hc_module-PicWithTxt hc_module-PicWithTxt-A container">
            <div class="row g-0">
                <div class="col-12 col-md-6">
                    <img src="~/media/e81ee1ac1b99895d18bed25432337e592f746236.jpg" style="width:100%; display:block;" />
                </div>
                <div class="col-12 col-md-6">
                    <div style="background-color:#f5f5f5; height:100%; display:flex; flex-direction:column; padding:10px;">
                        <h3>撒旦法师打防守打法萨达发撒的</h3>
                        <h5 style="flex:1; overflow:hidden;">萨芬阿是富士达发撒的送达方式阿打发撒旦法师打发撒旦法师打发顺丰阿萨德发撒的发斯蒂芬阿斯顿发斯蒂芬水岸东方阿斯顿发生</h5>
                        <div style="text-align:right;">
                            <a class="btn btn-primary" href="/">查看详情</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hc_module-PicWithTxt hc_module-PicWithTxt-B container">
            <div class="row g-0">
                <div class="col-12 col-md-6">
                    <div style="background-color:#f5f5f5; height:100%; display:flex; flex-direction:column; padding:10px;">
                        <h3>撒旦法师打防守打法萨达发撒的</h3>
                        <h5 style="flex:1; overflow:hidden;">萨芬阿是富士达发撒的送达方式阿打发撒旦法师打发撒旦法师打发顺丰阿萨德发撒的发斯蒂芬阿斯顿发斯蒂芬水岸东方阿斯顿发生</h5>
                        <div style="text-align:right;">
                            <a class="btn btn-primary" href="/">查看详情</a>
                        </div>
                    </div>
                    
                </div>
                <div class="col-12 col-md-6">
                    <img src="~/media/111.jpeg" style="width:100%; display:block;" />
                </div>
            </div>
        </div>
    </main>

    <footer>

    </footer>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>