@page
@model You.RazorCMS.Pages.NewPageModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - You.RazorCMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/module.css" rel="stylesheet" />
    <style type="text/css">
        body{
            padding:0;
            margin:0;
            background-color: #fff;
        }

        img{
            width: 100%;
            display:block;
        }
       
    </style>
</head>
<body>

    <div style="margin:0 auto;">

        <div class="u_module u_module-Carousel u_module-Carousel-A">
            <div class="container">
                <div id="u_module_entity-101" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="2000">
                            <img src="/image/demo/carousel_1.jpg" alt="標題111" title="標題111" />
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="/image/demo/carousel_2.jpg" alt="標題222" title="標題222" />
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="/image/demo/carousel_3.jpg" alt="標題333" title="標題333" />
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#u_module_entity-101" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#u_module_entity-101" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="u_module u_module-PicWithTxt u_module-PicWithTxt-A1">
            <div class="container">
                <div class="row g-0 rounded-3">
                    <div class="col-12 col-lg-6">
                        <div class="u_module-PicWithTxt_pic">
                            <img class="u_module-PicWithTxt_pic_img" src="~/image/demo/picwithtxt_1.jpg" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="u_module-PicWithTxt_txt">
                            <div class="u_module-PicWithTxt_txt_title fs-3 mb-3">勝多負少防守打法設定</div>
                            <div class="u_module-PicWithTxt_txt_desc fs-5 mb-2">收到發撒的防守打法士大夫士大夫水岸東方水岸東方阿薩德防守打法士大夫</div>
                            <div class="u_module-PicWithTxt_txt_act text-end"><a href="/" class="btn btn-primary">查看詳情</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="u_module u_module-PicWithTxt u_module-PicWithTxt-A2">
            <div class="container">
                <div class="row g-0 rounded-3">
                    <div class="col-12 col-lg-6 u_module-PicWithTxt_txt--source">
                        <div class="u_module-PicWithTxt_txt">
                            <div class="u_module-PicWithTxt_txt_title fs-3 mb-3">勝多負少防守打法設定</div>
                            <div class="u_module-PicWithTxt_txt_desc fs-5 mb-2">收到發撒的防守打法士大夫士大夫水岸東方水岸東方阿薩德防守打法士大夫</div>
                            <div class="u_module-PicWithTxt_txt_act text-start"><a href="/" class="btn btn-primary">查看詳情</a></div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="u_module-PicWithTxt_pic">
                            <img class="u_module-PicWithTxt_pic_img" src="~/image/demo/picwithtxt_1.jpg" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 u_module-PicWithTxt_txt--clone">
                        <div class="u_module-PicWithTxt_txt">
                            <div class="u_module-PicWithTxt_txt_title fs-3 mb-3">勝多負少防守打法設定</div>
                            <div class="u_module-PicWithTxt_txt_desc fs-5 mb-2">收到發撒的防守打法士大夫士大夫水岸東方水岸東方阿薩德防守打法士大夫</div>
                            <div class="u_module-PicWithTxt_txt_act text-end"><a href="/" class="btn btn-primary">查看詳情</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>












