@page
@model You.RazorCMS.Pages.PageEditorModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <title>自定頁面編輯</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap_ext.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/page_editor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/module.css" asp-append-version="true" />
    <script src="~/lib/tinymce/tinymce.min.js"></script>
</head>
<body>
    <div id="u_page">
        <div id="u_page_lt">
            <div id="u_page_lt_wrap">
                <div id="u_pnl_pagelist">
                    <div class="u_pnl_header"></div>
                    <div class="u_pnl_body"></div>
                    <div class="u_pnl_footer"></div>
                </div>
                <div id="u_pnl_pageform">
                    <div class="u_pnl_header"></div>
                    <div class="u_pnl_body"></div>
                    <div class="u_pnl_footer"></div>
                </div>
            </div>
        </div>
        <div id="u_page_md">
            <div id="u_page_md_header">
                <span>電腦</span>
                <span>平板</span>
                <span>手機</span>
            </div>
            <div id="u_page_md_main">
                <div id="u_pnl_monitor">
                    <div class="u_monitor_screen u_monitor-pc_screen">
                        <div id="u_pnl_view">
                            <div id="u_pnl_view_header">
                                <h1 class="text-center bg-success">Page Header</h1>
                            </div>
                            <div id="u_pnl_view_body"></div>
                            <div id="u_pnl_view_footer">
                                <h1 class="text-center bg-warning">Page Footer</h1>
                            </div>
                        </div>
                    </div>
                    <div class="u_monitor-pc_stand"></div>
                    <div class="u_monitor-pc_base"></div>
                </div>
            </div>
        </div>
        <div id="u_page_rt">
            <div id="u_page_rt_wrap">
                <div id="u_pnl_modules">
                    <div class="d-flex flex-column" style="height:100vh;">
                        <div class="u_pnl_header text-bg-danger p-3 fs-5">可選模組</div>
                        <div class="u_pnl_body flex-fill p-2" style="overflow-y:auto;"></div>
                    </div>
                </div>
                <div id="u_pnl_modulestyles" style="display:none;">
                    <div class="d-flex flex-column" style="height:100vh;">
                        <div class="u_pnl_header text-bg-danger p-3 fs-5 d-flex justify-content-between">
                            <span>可選版型</span>
                            <button class="btn btn-light btn-sm u_btn_show_modules">返回</button>
                        </div>
                        <div class="u_pnl_body flex-fill p-2" style="overflow-y:auto;"></div>
                    </div>
                </div>
                <div id="u_pnl_moduleform" style="display:none;">
                    <div class="d-flex flex-column" style="height:100vh;">
                        <div class="u_pnl_header text-bg-danger p-3 fs-5 d-flex justify-content-between">
                            <span>模組編輯</span>
                            <button class="btn btn-light btn-sm u_btn_show_modules">返回</button>
                        </div>
                        <div class="u_pnl_body flex-fill" style="overflow-y:auto;"></div>
                        <div class="u_pnl_footer p-3 text-center" style="background-color:#fff; border-top:1px solid #ddd;">
                            <div class="d-grid">
                                <button type="button" class="btn btn-primary u_btn_save_module">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="u_modal_delmodule" class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">操作提示</h5>
                </div>
                <div class="modal-body">
                    <p>確定要刪除該模組嗎？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger u_btn_confirm">確定</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/sortable/sortable.min.js"></script>
    <script src="~/js/page_editor.js" asp-append-version="true"></script>
    <script>
        Sortable.create(document.getElementById('u_pnl_view_body'), {
            
        });
    </script>
</body>
</html>
