@page
@model You.RazorCMS.Pages.PageEditorModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <title>自定頁面編輯</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/page_editor.css" asp-append-version="true" />
    <link href="~/css/module.css" rel="stylesheet" />
    <link href="~/css/module_monitor.css" rel="stylesheet" />
    <script src="~/lib/tinymce/tinymce.min.js"></script>
</head>
<body>
    <div id="u_page">
        <div id="u_page_lt">
            <div id="u_page_lt_wrap"></div>
        </div>
        <div id="u_page_md">
            <div id="u_page_md_header">
                <span>電腦</span>
                <span>平板</span>
                <span>手機</span>
            </div>
            <div id="u_page_md_main">
                <div id="u_page_md_main_monitor">
                    <div class="u_monitor_screen u_monitor-pc_screen">
                        <div id="u_page_md_wrap">
                            <div id="u_page_html_header">
                                <h1 class="text-center bg-success">Page Header</h1>
                            </div>
                            <div id="u_page_html_main">
                                <div class="u_module u_module-Carousel u_module-Carousel-A">
                                    <div class="container">
                                        <div id="u_module_entity-101" class="carousel slide" data-bs-ride="carousel">
                                            <div class="carousel-inner">
                                                <div class="carousel-item active" data-bs-interval="2000">
                                                    <img src="/image/demo/carousel_1.jpg" alt="標題111" title="標題111" />
                                                </div>
                                                <div class="carousel-item" data-bs-interval="2000">
                                                    <img src="/image/demo/carousel_2.jpg" alt="標題222" title="標題222" />
                                                </div>
                                                <div class="carousel-item" data-bs-interval="2000">
                                                    <img src="/image/demo/carousel_3.jpg" alt="標題333" title="標題333" />
                                                </div>
                                            </div>
                                            <button class="carousel-control-prev" type="button" data-bs-target="#u_module_entity-101" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button" data-bs-target="#u_module_entity-101" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="u_page_html_footer">
                                <h1 class="text-center bg-warning">Page Footer</h1>
                            </div>
                        </div>
                    </div>
                    <div class="u_monitor-pc_stand"></div>
                    <div class="u_monitor-pc_base"></div>
                </div>
            </div>
        </div>
        <div id="u_page_rt">
            <div id="u_page_rt_wrap">
                <div id="u_page_view_modules">
                    <div class="u_pnl_header">可選模組</div>
                    <div class="u_pnl_main"></div>
                </div>
                <div id="u_page_view_styles" style="display:none;">
                    <div class="u_pnl_header">
                        <span>可選版型</span>
                        <button class="btn btn-danger btn-sm u_btn_backtomodules">返回</button>
                    </div>
                    <div class="u_pnl_main">
                    </div>
                </div>
                <div id="u_page_view_form" style="display:none;">
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/sortable/sortable.min.js"></script>
    <script src="~/js/page_editor.js" asp-append-version="true"></script>
    <script>
        Sortable.create(document.getElementById('u_page_html_main'),{
            
        });
    </script>
</body>
</html>
